<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.:Terminal Chat:.</title>
</head>
<body>
<div class="flex flex-col h-screen bg-gray-900 text-gray-200 font-mono">
    <!-- CMD body -->
    <div class="flex-1 p-4">
        <div class="w-full" id="messageArea">
        </div>
        <div class="flex w-full bottom-0 fixed">
            <div class="mr-2 py-4">&gt;</div>
            <input id="username" type="text" class="bg-transparent focus:outline-none w-3/2 py-4" placeholder="username here..." />
            <div class="mr-2 py-4">&gt;</div>
            <input id="messageInput" type="text" class="bg-transparent focus:outline-none w-full py-4" placeholder="Type your message..." />
            <button
                    onclick="sendMessage()"
                    class="middle none center rounded-lg bg-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20
                    transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none
                    disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            >
                Send...
            </button>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.tailwindcss.com"></script>
<script th:inline="javascript">
    let socket = new WebSocket("ws://localhost:8080/chat");

    socket.onmessage = function(event) {
        let messageArea = document.getElementById("messageArea");
        messageArea.innerHTML += `
        <div class='mt-2 w-full'>
            <span class='text-green-500'>&gt; Output:</span>
            <div class='bg-gray-800 p-2 mt-1'>
                <p>${event.data}</p>
            </div>
        </div>`;
    }

    function sendMessage() {
        let username = document.getElementById("username");
        let messageInput = document.getElementById("messageInput");
        let fullMessage = username.value + " > " + messageInput.value;
        socket.send(fullMessage);
        messageInput.value = '';
    }
</script>
</html>